@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100vh; /* Establece la altura al 100% */
  width: 100vw; /* Establece el ancho al 100% */
  margin: 0; /* Elimina el margen predeterminado del body */
}

html {
  background-color: antiquewhite;
}